<template>
  <q-page class="q-pa-xl">

    <div class="row q-col-gutter-x-xl">
      <div class="col">
        <app-header
          :clientModal.sync="clientModal"
        />

        <clients-table
          :clients="clients"
          @openClientModal="openClientModal"
          @openRemoveClientDialog="openRemoveClientDialog"
        />
      </div>
      <div class="col-xl-2 col-md-3">
        <div class="q-mb-md">
          <span class="text-h6">Clients Per City</span>
        </div>
        <client-city-pie
          :clients="clients"
        />
      </div>
    </div>

    <client-form
      :key="`client-modal-${clientModal}`"
      :clientModal.sync="clientModal"
      :currentClient.sync="currentClient"
      @createUpdateClient="createUpdateClient"
    />

    <confirm-dialog
      :key="`confirm-modal-${confirmModal}`"
      :confirmModal.sync="confirmModal"
      :message="confirmMsg"
      @removeClient="removeClient"
    />

  </q-page>
</template>

<script>
  import ClientsTable from '../components/ClientsTable'
  import ClientForm from '../components/ClientForm'
  import ConfirmDialog from '../components/ConfirmDialog'
  import AppHeader from '../components/AppHeader'
  import ClientCityPie from '../components/ClientCityPie'

  export default {
    name: 'PageIndex',
    components: { ClientCityPie, AppHeader, ConfirmDialog, ClientsTable, ClientForm },
    data () {
      return {
        clientModal: false,
        clients: [],
        confirmModal: false,
        currentClient: null
      }
    },
    computed: {
      confirmMsg () {
        if (!this.currentClient) { return '' }

        return `Are you sure you want to remove "${this.currentClient.client_name}"?`
      }
    },
    mounted () {
      this.getClients()
    },
    methods: {
      async getClients () {
        try {
          this.$q.loading.show()

          const removedClients = this.getRemovedClients()

          // get all clients and add to table
          const params = { detailLevel: 3 }
          const response = await this.$axios.get(process.env.API_URL + '/clients/get', { params })
          this.clients = Object.values(response.clients)
            .filter(c => !removedClients
              .some(rm => parseInt(rm) === parseInt(c.client_id))
            )

          this.$q.loading.hide()
        } catch (e) {
          console.error(e)
          this.$q.loading.hide()
        }
      },
      async createUpdateClient (clientForm) {
        try {
          this.$q.loading.show()

          // create or update client
          const response = await this.$axios.post(process.env.API_URL + '/clients/createUpdate', { clientForm })
          Object.assign(clientForm, { client_id: response.client_id })

          // check if client exist for add to table or update row
          const elem = this.clients.find(d => parseInt(d.client_id) === parseInt(response.client_id))
          elem
            ? Object.assign(elem, clientForm)
            : this.clients.push(JSON.parse(JSON.stringify(clientForm)))

          // close modal
          this.clientModal = false

          this.$q.notify({
            message: this.currentClient ? 'Client Updated' : 'Client Created',
            color: 'positive'
          })

          this.$q.loading.hide()
        } catch (e) {
          console.error(e)
          this.$q.loading.hide()
        }
      },
      openClientModal (row) {
        // get selected client and show client modal
        this.currentClient = JSON.parse(JSON.stringify(row))
        this.clientModal = true
      },
      openRemoveClientDialog (row) {
        // get selected client and show remove confirm modal
        this.currentClient = row
        this.confirmModal = true
      },
      async removeClient () {
        try {
          const removedClients = this.getRemovedClients()

          // add client id to arr
          removedClients.push(this.currentClient.client_id)
          window.localStorage.setItem('removedClients', JSON.stringify(removedClients))

          // remove client from table
          const index = this.clients.findIndex(d => parseInt(d.client_id) === parseInt(this.currentClient.client_id))
          if (index > -1) {
            this.clients.splice(index, 1)
          }

          this.confirmModal = false

          this.$q.notify({
            message: 'Client Removed',
            color: 'positive'
          })
        } catch (e) {
          console.error(e)
          this.$q.loading.hide()
        }
      },
      getRemovedClients () {
        const removedClients = window.localStorage.getItem('removedClients')
        return removedClients
          ? JSON.parse(removedClients)
          : []
      }
    }
  }
</script>
