<template>
  <div class="row q-mb-md">
    <div class="col">
      <span class="text-h6">Client List</span>
    </div>
    <div class="col-auto">
      <q-btn
        label="New Client"
        color="primary"
        @click="$emit('update:clientModal', true)"
      />
    </div>
  </div>
</template>

<script>
  export default {
    props: ['clientModal']
  }
</script>
