<template>
  <q-dialog
    v-model="modal"
    persistent
  >
    <q-card class="modal-width">
      <q-card-section>
        <p class="text-h6">Client Form</p>

        <q-input
          v-model="clientForm.vat_id"
          label="*Vat Id"
          dense outlined
          :error="$v.clientForm.vat_id.$error"
        />

        <q-input
          v-model="clientForm.client_name"
          label="*Client Name"
          dense outlined
          :error="$v.clientForm.client_name.$error"
        />

        <q-input
          v-model="clientForm.phone"
          label="*Phone"
          dense outlined
          :error="$v.clientForm.phone.$error"
        />

        <q-input
          v-model="clientForm.email"
          label="*Email"
          dense outlined
          :error="$v.clientForm.email.$error"
        />

        <q-input
          v-model="clientForm.bus_city"
          label="*City"
          dense outlined
          :error="$v.clientForm.bus_city.$error"
        />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          label="Cancel"
          color="negative"
          flat
          @click="closeForm"
        />
        <q-btn
          label="Submit"
          color="primary"
          flat
          @click="createUpdateClient"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
  import { required, email } from 'vuelidate/lib/validators'

  export default {
    props: ['clientModal', 'currentClient'],
    data () {
      return {
        modal: this.clientModal,
        clientForm: {
          client_id: '',
          vat_id: '',
          client_name: '',
          phone: '',
          email: '',
          bus_city: ''
        }
      }
    },
    mounted () {
      if (this.currentClient) { Object.assign(this.clientForm, this.currentClient) }
    },
    methods: {
      async createUpdateClient () {
        this.$v.$touch()
        if (this.$v.$error) {
          this.$q.notify({
            message: 'Please Review Fields Again',
            color: 'negative'
          })
          return
        }

        this.$emit('createUpdateClient', this.clientForm, () => {
          this.resetForm()
        })
      },
      resetForm () {
        this.$v.$reset()

        this.clientForm = {
          client_id: '',
          vat_id: '',
          client_name: '',
          phone: '',
          email: '',
          bus_city: ''
        }
      },
      closeForm () {
        this.resetForm()
        this.$emit('update:currentClient', null)
        this.$emit('update:clientModal', false)
      }
    },
    validations: {
      clientForm: {
        vat_id: { required },
        client_name: { required },
        phone: { required },
        email: { required, email },
        bus_city: { required }
      }
    }
  }
</script>

<style scoped lang="scss">
  .modal-width {
    width: 400px;
  }
</style>
