<template>
  <div>
    <q-table
      :data="clients"
      :columns="columns"
      :pagination="pagination"
    >
      <template v-slot:body="props">
        <q-tr
          :props="props"
          class="cursor-pointer"
          @click="$emit('openClientModal', props.row)"
        >
          <q-td
            v-for="(col, i) in props.cols"
            :key="`${col.name}-${col.field}-${i}`"
          >
            <div
              v-if="col.type === 'button'"
            >
              <q-btn
                icon="far fa-trash-alt"
                color="negative"
                dense flat
                @click.stop="$emit('openRemoveClientDialog', props.row)"
              />
            </div>
            <div v-else>{{props.row[col.field]}}</div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
  export default {
    props: ['clients'],
    data () {
      return {
        pagination: {
          rowsPerPage: 10
        },
        columns: [
          {
            field: 'client_id',
            label: '#',
            align: 'left'
          },
          {
            field: 'vat_id',
            label: 'Vat Id',
            align: 'left'
          },
          {
            field: 'client_name',
            label: 'Client Name',
            align: 'left'
          },
          {
            field: 'phone',
            label: 'Phone',
            align: 'left'
          },
          {
            field: 'email',
            label: 'Email',
            align: 'left'
          },
          {
            field: 'bus_city',
            label: 'City',
            align: 'left'
          },
          {
            field: 'remove',
            type: 'button'
          }
        ]
      }
    }
  }
</script>
