<template>
  <q-dialog
    v-model="modal"
    persistent
    @hide="$emit('update:confirmModal', false)"
  >
    <q-card>
      <q-card-section class="row items-center">
        <span class="q-pa-sm text-h6">{{message}}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          label="Cancel"
          color="negative"
          v-close-popup flat
        />
        <q-btn
          flat
          label="Remove Client"
          color="primary"
          v-close-popup
          @click="$emit('removeClient')"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
  export default {
    props: ['confirmModal', 'message'],
    data () {
      return {
        modal: this.confirmModal
      }
    }
  }
</script>
